html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-thumb {
  background-color: #16a3b8;
}
html::-webkit-scrollbar-track {
  background-color: #1b212c;
}
.navbar_color {
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: #1b212c;
}

.linkitem {
  font-weight: 600;
}

.image {
  width: 50px;
}
.searchbar {
  margin-right: 100px;
  background-color: #161a23;
}
.side_link {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #272f3f;
  margin-left: 3px;
}
.font {
  font-size: 12px;
  font-weight: 700;
  padding: 14px 25px;
  border-radius: 25px;
}
#login:hover {
  background-color: #364158;
}
#signup {
  background-color: #16b2ca;
}
#signup:hover {
  background-color: #11899c;
}
.icon_img {
  width: 30px;
}
.tooltext {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltext .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltext .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltext:hover .tooltiptext {
  visibility: visible;
}
.worldicon {
  background-color: #1b212c;
  margin-left: 10px;
}

.parenticon {
  background-color: #272f3f;
  padding-bottom: 14px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
}
.parenticon:hover {
  background-color: #364158;
}
.arrow {
  width: 22px;
  padding-bottom: 3px;
  padding-right: 3px;
}
.beta {
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: #e7234c;
  padding: 1px 7px;
  margin-left: 5px;
  border-radius: 20px;
}
.download {
  background-color: #1b212c;
  font-weight: 600;
}
.download:hover {
  background-color: #272f3f;
}
.sidelogobar {
  padding: 0 10px;
  margin-top: 62px;
  background-color: #1b212c;
}
.sidelogobar img {
  width: 55px;
  margin-bottom: 7px;
}
.toolsidetip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolsidetip .tooltipsidetext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.toolsidetip .tooltipsidetext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.toolsidetip:hover .tooltipsidetext {
  visibility: visible;
}
.main_container {
  background-color: #101319;
  width: 100%;
  margin-top: 62px;
}
.sub_container {
  margin-top: 30px;
  margin-left: 110px;
}
.sub_container img {
  width: 340px;
}

.small_side_logo img {
  width: 50px;
  height: 50px;
}
.textsmall {
  font-size: 11px;
  font-weight: 500;
}
.progress_bar img {
  width: 200px;
  margin-top: 10px;
  margin-left: 55px;
  height: 16px;
}
.color_change {
  color: white;
}
.color_change:hover {
  color: #16a3b8;
}
.small_side_logo_pic img {
  width: 25px;
  height: 40px;
}
.progress_bar3 img {
  width: 200px;
  margin-top: 10px;
  margin-left: 32px;
  height: 14px;
}
.another_section {
  margin-left: 110px;
  margin-top: 60px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.another_section a {
  text-decoration: none;
}
.game_photo img {
  width: 170px;
  margin-right: 7px;
}
.scale {
  transition: transform ease-out 0.5s;
}
.scale:hover {
  transform: scale(1.05);
}
.areapic {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 110px;
  position: relative;
}
.areapic img {
  width: 1055px;
  margin-bottom: 20px;
}
.img_word {
  position: absolute;
  top: 80px;
  left: 40px;
}
#img_btn {
  padding: 11px 30px;
  border: none;
  background-color: #16b2ca;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
}
#img_btn:hover {
  background-color: #11899c;
}
.tournament {
  margin-left: 115px;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.popular_img {
  width: 250px;
}
.small_side_logo_photo img {
  width: 50px;
  height: 40px;
}
.first_bar {
  border: 1px solid #16b2ca;
  width: 400px;
  height: 1px;
  margin-top: 24px;
}
.second_bar {
  border: 1px solid #16b2ca;
  width: 400px;
  height: 1px;
  margin-top: 24px;
}
.show_more_button {
  border: none;
  color: white;
  background-color: #16b2ca;
  padding: 12px 20px;
  border-radius: 30px;
}
.show_more_button:hover {
  background-color: #138495;
}
.more_item,
.per_item:nth-child(1) ~ .per_item {
  display: none;
}

@media screen and (max-width: 576px) {
  .home_preview {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    margin-top: 15px;
  }
  .navbar_color {
    width: 90%;
  }
  .main_container {
    width: 100%;
  }
  .sub_container {
    margin-left: 20px;
  }
  .sidelogobar {
    display: none;
  }
  .middle_step {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .another_section {
    margin-left: 50px;
    width: 100%;
  }
  .browse_games {
    display: inline;
    flex-direction: column;
  }
  .browse_games a {
    margin-top: 25px;
  }
  .game_photo img {
    width: 300px;
  }
  .areapic {
    margin-left: 0px;
  }
  .areapic img {
    width: 350px;
  }
  .tournament {
    margin-left: 20px;
  }
  .tournament h3 {
    margin-top: 150px;
  }
  .sub_tournament {
    display: flex;
    flex-direction: column;
  }
  .sub_tournament div {
    margin-top: 30px;
    margin-left: 50px;
  }
  .side_link {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #272f3f;
    margin-left: 3px;
  }
  .games_flex a {
    margin-right: 60px;
  }
}
